body{
    margin: auto;
    background-color: #d7fcff;
}
.logo{
    padding-left: 520px;
}
.logo img{
    height: 100px;
}
.navigation{
    display: flex;
    padding: 20px;
    background-color: #ffffff;
    justify-content:space-evenly;
}
.home a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}
.registrasi a{
    color: #000000;
    text-decoration: none underline;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}
.login a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}
.feedback a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}
.rating a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}
.forum a{
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium';
}
.title{
    margin-left: 660px;
    padding: 50px;
    font-size: 35px;
}
.formRegis{
    height: 600px;
    background-repeat: no-repeat;
    background-origin: content-box;
    background-attachment: scroll;
    background-position: center;
    background-size: cover;
    position: relative;
}
#form-registrasi{
    background-color: #FFFFFF;
    width: 480px;
    height: 500px;
    position: relative;
    transform: translate(120%, 0%);
    opacity: 80%;
}

#form-fullname{
    margin-left: 33px;
    height: 35px;
    width: 410px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
}

#form-email{
    margin-left: 33px;
    height: 35px;
    width: 410px;
    text-align: center;
    margin-bottom: 25px;
}

#form-username{
    margin-left: 33px;
    height: 35px;
    width: 410px;
    text-align: center;
    margin-bottom: 25px;
}

#form-password{
    margin-left: 33px;
    height: 35px;
    width: 410px;
    text-align: center;
    margin-bottom: 25px;
}

#dob{
    margin-left: 33px;
    height: 35px;
    width: 410px;
    text-align: center;
    margin-bottom: 25px;
}

.gender{
    margin-left: 170px;
    margin-bottom: 25px;
}
#form-submit{
    height: 35px;
    width: 150px;
    text-align: center;
    margin-bottom: 10px;
    transform: translate(108%);
}
.footer{
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    font-size: 20px;
    font-family: 'Franklin Gothic Medium';
}